body{
    display: flex;
   /* flex-direction: column; */
   justify-content: center;
    /* align-items: center;   */
   background: rgb(112, 112, 240);
}

main{
   width: 50vw;
   height: 70vh;
   margin-top: 5rem;
   border: 2rem;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0px 0px 15px 0px black;
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: center; */
   /* align-items: center; */
}

a{ 
    width: 5vw;
    color: black;
    /* margin: 10px; */
    margin-top: 10px;
    margin-left: 18rem;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* padding: 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px black;
 }

label{
   margin-left: 20rem;
   font-size: 20px;
}
input{
   margin-left: 13.5rem;
   display: flex;
   justify-content: center;
   font-size: 20px;
   border-radius: 15px;
}

h2{
   margin-left: 19rem;
   font-size: 30px;
}